//- extends html/global/layout
doctype html 
html 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./css/style.css")
    body 
        div.container
            div.home.flex-row
                form#searchPokemon.home-form.flex-column
                    label(for='searchInput') Search here
                    input#searchInput(type="text" required)
                    button submit
        script(type="module" src="./script.js")
