extends global/layout

block content
    div.container
        div.wrapper
            //- - const pokemonName = 'pikachu'
            //- - const formAction = `/pokemon/${pokemonName}`
            form#searchPokemon
                input#searchInput(type="text" required)
                button submit
    script(src="./js/search.js")