//- extends html/global/layout
doctype html 
html 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="search pokemons")
        meta(name="author" content="Tornike Epitashvili")
        meta(property="og:url" content="https://all-about-pokemons.herokuapp.com")
        meta(property="og:title" content="PokemonFinder")
        meta(property="og:description" content="Everything about pokemons!")
        meta(property="og:image" content="./images/social-img.jpg")

        title PokemonFinder | Home
        link(rel="shortcut icon", href="./favicon.png", type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="./css/style.css")
    body 
        //- header
        header 
            .container 
                .header.flex-row
                    form.search-form.flex-column#searchPokemon
                        input#searchInput(type="text" placeholder="Search here..." autocomplete="off" required)
                    ul.flex-row
                        a(href="/").flex-row
                            img(src="../../images/home-icon.png")
                            span home
                        a(href="/list?page=1").flex-row
                            img(src="../../images/play-icon.png")
                            span pokemons
        //- main
        main
            .container 
                .home
        script(type="module" src="./script.js")
