.error {
    min-height: 100vh;

    &-text {
        margin: 2rem 0;
        font-size: 3rem;
        font-family: sans-serif;
    }

    &-form {
        margin: 2rem 0;
        align-items: flex-start;
        gap: .2rem;
    }

    .home-link {
        border: 2px solid;
        padding: 1rem 4.75rem;
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: sans-serif;
    }
}