.list {
    margin: 2rem 0;

    &-ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        user-select: none;
    }

    &-li {
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
        transition: .3s;
        
        &:hover {
            scale: .9;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
        }
        
        a {
            width: 100%;
            padding: 1rem;
        }

        img {
            max-width: 300px;
        }

        span {
            font-family: $ff-righteous;
            text-transform: capitalize;
            font-size: 2rem;
            color: $clr-purple;
        }
    }
}

.pagination {
    padding: .5rem;
    gap: 1rem;

    a,
    span {
        padding: .5rem 1rem;
        font-family: $ff-acumin;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        user-select: none;

        &:hover {
            scale: .9;
            background-color: $clr-light-blue;
        }
    }

    span.active {
        font-weight: 900;
        user-select: none;
        pointer-events: none;
        text-decoration: underline;
    }

    a.hidden {
        display: none;
    }
}
