.pokemon {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "img info"
        "stats stats";

    // background-color: green;
    &-img {
        padding: .5rem;
        grid-area: img;
        
        img {
            height: 100%;
            object-fit: contain;
        }
        
    }
    &-info {
        padding: .5rem;
        grid-area: info;
        align-items: flex-start;

        .abilities {
            position: relative;
            width: 100%;
        }
        
        h2 {
            position: absolute;
            top: .5rem;
            right: .5rem;
            font-family: $ff-righteous;
            text-transform: capitalize;
        }
        
        h3 {
            margin: .7rem 0 0;
            font-family: $ff-righteous;
            text-transform: capitalize;
        }

        li {
            font-family: $ff-acumin;
            text-transform: capitalize;
        }
        
        .text {
            margin: 1rem 0;
            font-family: $ff-acumin;
            font-size: 14px;
        }
    }
    
    &-stats {
        grid-area: stats;
        position: relative;
        // background-color: rgb(25, 201, 142);

        .base-stats {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: flex-end;
            gap: .5rem;
            padding: .5rem;
        }

        .stats-heading {
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-family: $ff-righteous;
            font-size: 2.5rem;
            text-transform: capitalize;
        }

        .row-item {
            padding: .5rem;
            height: 85%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 90% 10%;
            gap: .5rem;

            .stat-item {
                position: relative;
                display: grid;
                grid-template-columns: 1fr;
                align-items: flex-end;

                .test {
                    position: absolute;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(60, 5px);
                    background-color: red;
                    gap: .5rem;
                    width: 100%;
                    height: 100%;
                }

                div {
                    background-color: $clr-light-blue;
                    width: 100%;
                }

                .stat-item-inner {
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                height: 100%;
                font-family: $ff-righteous;
                font-size: 14px;
                text-transform: capitalize;
                border: 1px solid;
            }
        }

        .stat-item {
        }

    }

    &-form {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
}