*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 225, 255);
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}