.container {
    width: min(100% - 1rem, 1100px);
    margin: 0 auto;
}

// flex classes
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    @extend %flex;
}

.flex-column {
    @extend %flex;
    flex-direction: column;
}

// links
%link {
    font-family: $ff-righteous;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
        color: $clr-purple;
        scale: .9;
    }
}

// headings
%heading-primary {
    font-family: $ff-righteous;
    text-transform: capitalize;
    color: $clr-purple;
}