.container {
    position: relative;
    width: min(100% - 1rem, 1100px);
    margin: 0 auto;
}

// flex classes
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    @extend %flex;
}

.flex-column {
    @extend %flex;
    flex-direction: column;
}

// links
%link {
    font-family: $ff-righteous;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
        color: $clr-purple;
        scale: .9;
    }
}

// headings
%heading-primary {
    font-family: $ff-righteous;
    text-transform: capitalize;
    color: $clr-purple;
}

// buttons
%btn-primary {
    border: 3px solid $clr-night-blue;
    padding: 1rem 2.5rem;
    font-family: $ff-righteous;
    text-transform: capitalize;
    color: $clr-purple;
    border-radius: .5rem;
    transition: .3s;

    &:hover {
        background-color: $clr-night-blue;
        scale: .9;
        color: $clr-camel;
    }
}