$ff-righteous: 'righteous', cursive;
$ff-acumin: 'acumin-pro', sans-serif;

$clr-light-blue: #4B92B0;
$clr-night-blue: #3B4CCA;
$clr-marlboro-red: #cc0000;
$clr-purple: #AA308FFA;
$clr-camel: #FFDE00;